.record-panel {
  z-index: 100;
  padding: 0.5em;
  min-width: 50vmin;
  height: 70vh;
  background-color: cornflowerblue;
  overflow-y: scroll;
}

.record-panel-button {
  display: flex;
  justify-content: flex-start;
  background-color: seashell;
}

.record-panel-button button {
  box-shadow: 3px 3px 2px rgb(36, 36, 36);
  margin: 0.5em 0.6em;
  width: 5em;
  font-size: calc(0.5em + 1vmin);
  border: 2px solid black;
}
