.card {
  text-align: center;
  min-width: 12vmin;
  max-width: 18vmin;
  min-height: 20vmin;
  max-height: 30vmin;
  margin: 1vmin;
  background-color: white;
  border: 0.5vmin solid black;
  border-radius: 1vmin;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.card.flipped {
  transform: rotateY(180deg);
}

.card .display-symbol {
  opacity: 0;
  transition: opacity 0.25s linear;
}

.card .display-symbol.flipped {
  opacity: 1;
  transition: opacity 0.25s linear;
}
