.modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: -1;
  opacity: 0;
  transition: 0.2s z-index linear, 0.2s opacity linear;
}

.modal.open {
  z-index: 99;
  opacity: 1;
  transition: 0.2s z-index linear, 0.2s opacity linear;
}
