header {
  background-color: rgb(240, 176, 94);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.timer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.reset-button {
  bottom: 0em;
  border: 2px solid black;
  font-size: calc(1em + 1vmin);
}

.setting-button {
  position: relative;
  display: inline-block;
}

.gear-icon {
  font-size: calc(1em + 1vmin);
}
.setting-panel {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2vmin;
  display: none;
  position: absolute;
  right: 0;
  min-width: 13em;
  font-size: calc(1em + 1vmin);
  border: 2px solid black;
  background-color: lightsalmon;
}

.setting-button input {
  margin: 0.2em;
  font-size: calc(0.8em + 1vmin);
  text-align: right;
  width: calc(1.5em + 1vmin);
}

.setting-button:hover .setting-panel {
  display: block;
}

.load-records {
  margin: 0.2em;
  padding: 0.2em;
  font-size: calc(0.6em + 1vmin);
  border: 2px solid black;
}
